<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>발정너</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="/lib/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/cowbucket.css" rel="stylesheet">
    <link href="/stylesheets/jquery.excoloSlider.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/lib/bootstrap-3.2.0/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/lib/bootstrap-3.2.0/assets/js/ie10-viewport-bug-workaround.js"></script>

	</head>

	<body>
		<div class="container">
      <nav class="navbar navbar-default nav-color" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand BM-JUA" href="/index" style="color:white;">발.정.너</a>
          </div>
        </div><!-- /.container-fluid -->
      </nav>

			<div class="content_wrapper">
        <div class="slider_wrapper">
          <div id="slider">
          </div>
        </div>
        <div class="row timer-color">
          <div class="col-xs-0 col-md-4">
            
          </div>
          <div class="col-xs-12 col-md-4">
            <h3 style="display:inline">잘 부탁드려요, </h3>
            <h2 style="display:inline"><?= name ?></h2>
            <h3 style="display:inline"> 입니다.</h3>
          </div>
          <div class="col-xs-12 col-md-4">
            <h3><span id="time"></span></h3>
            <h5 id="time_ment"></h5>
            <h5 id="mode"></h5>
          </div>
        </div>
<!--         <div class="timer">
          <h3><span id="time"></span></h3>
          <button type="button" class="btn btn-default" onclick="start()">Start</button>
          <button type="button" class="btn btn-default" onclick="stop()">Stop</button>
          <button type="button" class="btn btn-default" onclick="reset()">Reset</button>
        </div> -->
      </div>

      <div class="center">
        &copy; Copyright by 발.정.너
      </div>
		</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/lib/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script src="/lib/scripts/jquery.excoloSlider.js"></script>
    <script src="/lib/scripts/stopwatch.js"></script>

    <script type="text/javascript">
      if($(window).width() > 650) var width = 600;
      else var width = $(window).width() - 50;

      $(function () {

        for(var i=1; i<<?= count?>+1; i++) {
          var imgtitle = getRandomInt(1, 238);
        $('#slider').append("<img src='/image/1/" + imgtitle + ".jpg'>");
        }

        if("<?= type ?>" == "auto") {
          var interval = <?= time ?>;
          $("#slider").excoloSlider({
            mouseNav: false,
            interval: interval*1000, // = interval seconds
            //playReverse: true,
            width: width,
            height: width * 4/5,
            autoSize: false,
            //prevnextAutoHide: false
          });

          $('#time_ment').append(interval + "초에 하나씩 넘어갑니다.");
          $('#mode').append("자동모드");
        }
        else {
          $("#slider").excoloSlider({
            mouseNav: false,
            interval: 10000000000, // = limit
            //playReverse: true,
            width: width,
            height: width * 4/5,
            autoSize: false,
            prevnextAutoHide: false
          });

          $('#mode').append("수동모드");
        }
        
        
        $(".slider_wrapper").width(width);
        show();start();

      });

      function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }

    </script>

	</body>
</html>
