<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>발정너</title>

		<!-- Bootstrap core CSS -->

		<!-- Custom styles for this template -->
    <link href="/lib/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet">
		<link href="/stylesheets/cowbucket.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="/lib/bootstrap-3.2.0/assets/js/ie-emulation-modes-warning.js"></script>

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/lib/bootstrap-3.2.0/assets/js/ie10-viewport-bug-workaround.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link href="/lib/bootstrap.select/css/bootstrap-select.min.css" rel="stylesheet">
	</head>

	<body>
    <div class="container">
  		<nav class="navbar navbar-default nav-color" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand BM-JUA" href="/index" style="color:white;">발.정.너</a>
          </div>
        </div><!-- /.container-fluid -->
      </nav>

      <div class="content_wrapper">
        <div class="ment_wrapper">
          <label class="cover-heading">안녕, 난 </label>
          <input type="text" id="name" class="form-control" style="display:inline; width: 150px;">
          <label class="cover-heading">야. 내 얘기를 들어볼래?</label>
        </div>

        <div class='contents row' style="margin : 10px;">
          <div class='col-sm-6 active-div choose-mode-div unauto-mode' id='unauto-mode' style="height: 330px;">
            <h1>선택 모드</h1>
            <div id="choose-unauto-image">
              <img src="/image/illu_1.png" width="250px;">
            </div>
            <div class="active-div-content">
              다음 페이지로 넘어가는 것 정도는 발표자에게 맡겨둘께요!!
            </div>
            <div class="active-div-content" style="margin : 10px;">
              <select class="selectpicker selectpicker-page" id="unauto-mode-selectpicker-page">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option selected="selected">5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
              페이지 발표
            </div>
          </div>

          <div class='col-sm-6 choose-mode-div auto-mode' id='auto-mode' style="height: 330px;">
            <h1>자동 모드</h1>
            <div id="choose-auto-image">
              <img src="/image/illu_2.png" width="250px;">
            </div>
            <div class="active-div-content">
              정해신 시간이 되면 바로바로
            </div>
            <div class="active-div-content" style="margin : 10px;">
              <select class="selectpicker selectpicker-count" id="auto-mode-selectpicker-count">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option selected="selected">30</option>
                <option>40</option>
                <option>50</option>
                <option>60</option>
              </select>
              초에 
              <select class="selectpicker selectpicker-page" id="auto-mode-selectpicker-page">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option selected="selected">5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
              페이지 발표
            </div>
            <div class="active-div-content">
              <span class="active-div-content-time" >150</span>초 소요
            </div>
          </div>
        </div>
        <p class="lead">
          <a href="/public/views/test.html" class="btn btn-lg btn-default" id="go-app-btn">Let's Start</a>
        </p>
      </div>
    </div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!-- http://127.0.0.1:8020/cowbucket/public/ -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/lib/bootstrap-3.2.0/js/bootstrap.min.js"></script>
		<script src="/lib/bootstrap.select/js/bootstrap-select.min.js"></script>
		<script src="/javascript/common.js"></script>
	</body>
</html>
