@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
   font-family:'BM-JUA';
   src:url('/font/BM-JUA.ttf') format('truetype');
}

.BM-JUA {
   font-family: 'BM-JUA';
   font-size: 25px;
}

body {
	font-family:'Nanum Gothic';
}

.nav-color {
	background-color: #f52b24;
}

.timer {
	text-align: right;
}

.slider_wrapper {
	text-align: center;
	margin: 0 auto;
}

.content_wrapper {
	background-color: white;
	text-align: center;
	margin: 0 auto;
	color:gray;
}

.text_wrapper {
	text-align: center;
	margin: 0 auto;
}

.ment_wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
}

.active-div {
	border : 2px solid #f48000;
}

.active-div h1{
	color : #f48000
}

.active-div .active-div-content{
	color : #f48000
}

.choose-mode-div {
	cursor: pointer;
	margin-bottom: 50px;
	padding-bottom: 30px;
}
	
.cover-heading {
	display: inline;
	color:#f52b24;
	margin: 0;
	font-size: 20pt;
}

.timer-color {
	color:black;
}

.center {
	margin: 0 auto;
	text-align: center;
}

footer {
	margin-top: 30px;
	margin-bottom: 15px;
	float:right;
	margin-right: 100px;
}